/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

@import 'assets/css/utilities.pcss';
@import 'assets/css/common.pcss';
@import 'assets/css/content.pcss';
@import 'assets/css/avatar.pcss';
@import 'assets/css/stars.pcss';

.cc-flatten-p {
  p {
    @apply my-0;
    & + p {
      @apply mt-2;
    }
  }
}
